@import url('https://fonts.googleapis.com/css?family=Roboto');

@charset "UTF-8";

*{
	box-sizing: border-box;
}

body {
  font-family: roboto;
  /*margin: 0 auto;*/
	margin: 55px auto 0 auto;
	width: 100%;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.navigation {
  height: 50px;
  background: #ffcc99;
	box-shadow: 0 3px 5px 0 rgba(255, 204, 153, .8);
}

.brand {
  position: absolute;
  padding-left: 0px;
  /*float: left;*/
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.9em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #ffcc99;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #ffcc99;
  color: #66ccff;
}
nav ul li .kocka {
  float: left;
  margin-top: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 3px;
}
.vijesti {
  background-color: #cc0000;
}
.lifestyle {
  background-color: #e2a600;
}
.magazin {
  background-color: #a45091;
}
.sport {
  background-color: #55ac53;
}
.biznis {
  background-color: #ef6f3e;
}
.vise {
  background-color: #1777bb;
}
/*nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}*/
nav ul li div>a:after,
nav ul li div>a:visited:after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffcc99;
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 50px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 15px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }

	.red .kolona.margina {
		width: 0;
	}

	.red .kolona.sadrzaj {
		width: 100%;
	}

	.kolona.sadrzaj iframe {
		/*height: 100%;*/
		/*height: auto;*/
		/*height: 10px;*/
		outline: 0;
		max-width: 100%;
		height: auto;
	}
}
@media only screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.red {
	padding: 10px;
	width:100%;
	float:left;
	min-height: 1px;
	margin: 0 auto;
}

.kolona {
	/*margin-left: 2%;
	margin-right: 2%;*/
	display: inline-block; /*Omogućava da se kolone prikažu bez da se float mora clearovati poslije*/
	float: left;
	min-height: 20px;
}

.kolona:first-child {
	margin-left: 0px;
}

.kolona:last-child {
	margin-right: 0px;
}

.kolona.margina{
	width: 10%;
}

.kolona.sadrzaj{
	width: 77%;
}

.kolona.zaVideo {
	width: 55%;
}

.kolona.pmargina {
	width: 20%;
}

h3 {
	color: #66ccff;
  text-align: center;
}
